/** Barra de navegacion */
header {
    background-color: #b21f1f;
}

.nav-link {
    color: white;
}

.sombreado:hover {
    background-color: green;
}

.nav-bar {
    color: white;
}

/** Barra de navegacion para celulares */
@media (max-width: 915px){
    header {
        background-color: #b21f1f;
        height: 60px;
    }
    
    .nav-menu {
        background-color: #2c3e50;
    }
    
    .sombreado:hover {
        background: none;
        color: greenyellow;
    }
}

/** Seccion Inicio */
section#Inicio {
    background: linear-gradient(to bottom, #000000,#434343); /* fallback for old browsers */
    color: white;
}

/** Seccion Informacion Personal */
section#Sobre-Mi{
    background: linear-gradient(to bottom, #434343,#243b55);
    color: greenyellow;
}

h3#datos:hover {
    background: greenyellow;
    color: red;
}

/** Seccion Informacion */ 
section#Experiencia{
    background: linear-gradient(to bottom,#243b55,#000428);
    color: #8ab4f8;
}

/** Seccion Habilidades */ 
section#Habilidades {
    background: linear-gradient(to bottom,#000428,#2f0743);
    color: white;
}

.Conocimientos_1 {
    border: 2px solid blueviolet;
    background-color: #9a8478;
}

.Conocimientos_2 {
    border: 2px solid blueviolet;
    background-color: #9a8478;
}

#boton_mostrar {
    background: white;
    color: #0099f7;  
}

#boton_mostrar:hover {
    background: whitesmoke;
}
/** Seccion Contacto */

footer#Contacto {
    background: linear-gradient(to bottom,#2f0743,#870000);
    color: white;
}

#enviar {
    background-color: #42b72a;
    color: white;
}

.redes .btn_icono {
    background-color: #2c3e50;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.tooltip .tooltip-box {
    background: white;
    color: black;
}
